$light: #fbf1ff

$yellow_transparent: rgba(255, 210, 0, 0.05)
$yellow: #ffd200
$green_transparent: rgba(169, 255, 9, 0.2)
$green: rgb(169, 255, 9)
$red_transparent: rgba(255, 65, 0, 0.2)
$red_50_transparent: rgba(255, 65, 0, 0.5)
$red_10_transparent: rgba(255, 65, 0, 0.9)
$red: rgb(255, 65, 0)
$blue_transparent: rgba(102, 204, 255, 0.2)
$blue_50_transparent: rgba(102, 204, 255, 0.5)
$blue_10_transparent: rgba(102, 204, 255, 0.9)
$blue: rgb(102, 204, 255)

$base: $blue

@import _helpers

*
  margin: 0
  padding: 0

html
  min-height: 100%

body
  background: #212121
  color: $light

#balance
  font-size: 64px
  text-align: center
  margin: 200px 0