.DS_Store
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

public/js/*
!public/js/_lib
public/assets
public/css
public/*.html
*.sassc
.sass-cache