!!! 5
%html
  %head
    %title BTC Dashboard
    %meta{charset: 'utf-8'}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    %script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"}
    %script{:type => "text/javascript", :src => "http://socketio.mtgox.com/socket.io/socket.io.js"}
    %script{:type => "text/javascript", :src => "assets/common.js"}
    %script{:type => "text/javascript", :src => "assets/app.js"}
    %link{:href => 'assets/app.css', :rel => 'stylesheet'}
  %body
    #main
    :javascript
      window.mg = new BTCD.Exchanges.MtGox(36.55228280);
      window.cb = new BTCD.Exchanges.Coinbase(61.54090908);