!!! 5
%html
  %head
    %title BTC Dashboard
    %meta{charset: 'utf-8'}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    %script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"}
    %script{:type => "text/javascript", :src => "http://socketio.mtgox.com/socket.io/socket.io.js"}
    %script{:type => "text/javascript", :src => "assets/common.js"}
    %script{:type => "text/javascript", :src => "assets/app.js"}
    %link{:href => 'assets/app.css', :rel => 'stylesheet'}
  %body
    %header#header
    #main
      #master
        #balance
          %span Balance:
          %strong 0
        #net_worth
          %span Net worth:
          %strong $0.00
          %span#diff
            %span.direction
            %span.amount 0.00